.details__left-div{
    width: 43%;
    height: 60%;
}

.image{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 50rem) {
    .details__left-div{
    width: 100%;
    height: 40vh;
}
}