*{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    width: 100%;
    min-height: 93vh;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 3.15rem;
}

.countries{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: 89vh;
    width: 100%;
}

@media screen and (max-width: 40rem) {
    .card{
        padding-inline: 1rem;
    }

    .countries{
        justify-content: center;
        align-items: center;
    }
}